@font-face {
  font-family: "Avenir Book";
  src: url(fonts/Avenir-Book.ttf);
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-size: cover;
  position: relative;
  font-family: "Lexend Deca", sans-serif;
}

#game-container {
  height: 560px;
  width: 350px;
  position: relative;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(13, 96, 143);
  border-radius: 10px;
  box-sizing: border-box;
}

#play-btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  height: 50px;
  border: 1.5px solid rgb(200, 46, 53);
  border-radius: 15px;
  background-color: rgb(200, 46, 53);
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.1em;
  letter-spacing: 1px;
}

#play-btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#play-btn:focus {
  outline: 0;
}

#title-wrapper {
  width: 80%;
  height: 90%;
  border: 1px solid rgb(234, 249, 254);
  background-color: rgb(234, 249, 254);
  color: rgb(0, 70, 124);
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title-wrapper h2 {
  text-align: left;
  margin-left: 5px;
}

#game-title {
  margin-top: 0;
  line-height: 1.2em;
  color: rgb(200, 46, 53);
}

#hero-malaysia {
  font-size: 1.8em;
}

.text-blue {
  color: rgb(82, 77, 219);
}

.text-yellow {
  color: yellow;
}

.text-red {
  color: rgb(158, 16, 0);
}

.text-white {
  color: rgb(255, 255, 255);
}

#inGame {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 10px;
  background-image: url(images/map.png);
  background-size: cover;
}

#malaysia-flag {
  position: absolute;
  bottom: 2px;
  z-index: 1;
}

#life-bar {
  display: flex;
  flex-direction: row;
  color: black;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  height: 30px;
}

#life-bar h3 {
  margin: 0;
  margin-left: 5px;
  align-self: center;
}

.api-box {
  width: 10%;
  border-radius: 2px;
  margin: 5px;
  opacity: 0;
}

.api-yellow {
  background-color: #ffb836;
}

.api-orange {
  background-color: #fc8712;
}

.api-red {
  background-color: #f72334;
}

.api-purple {
  background-color: #a10391;
}

.api-maroon {
  background-color: #8c0303;
}

#smokeImage {
  height: 100%;
  z-index: 0;
  opacity: 0;
}

#smokeImage-2 {
  height: 100%;
  z-index: 0;
  opacity: 0;
}

#smoke-overlay {
  height: 118px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#timer {
  margin: 0;
  align-self: center;
}

#fan-box {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 120px;
  left: 150px;
  background-image: url("./images/fan.gif");
  background-size: cover;
}

.haze-cloud {
  width: 30px;
  position: absolute;
  transform: translate(-50%);
}

.hero-image {
  width: 75%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.text-container {
  width: 75%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#close-button {
  float: right;
  font-size: 2em;
  background-color: transparent;
  outline: none;
  border: 0;
}

#close-button:hover {
  cursor: pointer;
}

#call-to-action {
  padding: 10px;
  width: 100px;
  position: relative;
  left: 50%;
  margin-left: -50px;
  background-color: orange;
  border: 1px solid white;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}

#footer {
  min-width: 400px;
  height: 80px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#learn-text-container {
  width: 50%;
  height: 50px;
  align-self: center;
}

#learn-text-container small {
  line-height: 0.5em;
}

#learn-more-btn {
  background-color: rgb(64, 105, 173);
  height: 30px;
  width: 100px;
  box-sizing: content-box;
  color: white;
  padding: 5px;
  border-radius: 15px;
  font-size: 1em;
  align-self: center;
}

#na-logo-footer {
  align-self: center;
}

#after-game {
  opacity: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
}

#after-modal {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}

#end-text {
  margin: 10px;
  margin-bottom: 5px;
}

#play-again-btn {
  width: 80%;
  height: 50px;
  background-color: rgb(200, 46, 53);
  color: white;
  border: 1px solid rgb(200, 46, 53);
  border-radius: 10px;
  outline: none;
  font-size: 1.25em;
}

#play-again-btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#btn-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  flex-direction: row;
  justify-content: space-around;
}

#malaysia {
  font-size: 1.75em;
}

.main-text ol {
  padding-left: 20px;
}

.main-text li {
  margin-top: 7px;
  text-align: left;
}

#end-text {
  clear: both;
}
